@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --color-primary: #5a58f2;
    --color-primary-highlighted: #4d4af0;
    --color-border-primary: #3b38ed;
    --color-border-primary-highlighted: #8d8bef;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #e9e9e9;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem 1rem;
}

.card {
    background: white;
    margin-bottom: 1rem;
    padding: 1rem;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 1000px
}

.nav-links {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.nav-links li {
    list-style: none;
    margin: 0 12px;
}

.nav-links li button {
    position: relative;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0.5rem 0;
    background: none;
    border: none;
    cursor: pointer;
}

.nav-links li button:before {
    content: '';
    position: absolute;
    bottom: 0;
    height: 3px;
    width: 0;
    background: var(--color-primary);
    border-radius: 12px;
    transition: all 0.4s ease;
    left: 50%;
    transform: translateX(-50%);
}

.nav-links li button:hover:before, .nav-links li button.active:before {
    width: 100%;
}

.button-default {
    display: flex;
    gap: 0.7rem;
    padding: 0.6rem 1.3rem;
    background-color: var(--color-primary);
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-default:hover {
    background-color: var(--color-primary-highlighted);
}

.button-outline {
    display: flex;
    gap: 0.7rem;
    padding: 0.6rem 1.3rem;
    color: var(--color-border-primary);
    background-color: transparent;
    border: 0.2rem solid var(--color-border-primary);
    border-radius: 0.5rem;
    cursor: pointer;
    transition: color 0.3s ease, border-color 0.3s ease;
}

.button-outline:hover {
    color: var(--color-border-primary-highlighted);
    border-color: var(--color-border-primary-highlighted);
}

.remove-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 15px 15px;
    background-image: url("remove-button.svg");
    background-size: cover;
}

.download-link {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 15px 15px;
    background-image: url("download-button.svg");
    background-size: cover;
}

.drop-area {
    height: 12rem;
    border: 0.2rem dashed;
    border-radius: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #5b667e;
    flex-direction: column;
    gap: 0.5rem;
}

.file-list {
    list-style-type: none;
    padding: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.file-list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 0.1rem solid #5b667e;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.8rem;
}

.file-list-item-info {
    display: flex;
    text-align: left;
    flex-direction: column;
    gap: 0;
}

.file-list-item-info-detail {
    color: #5b667e;
}

.upload-progress-container {
    margin: 3rem 2rem;
}

.upload-progress-bar {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 20px;
}

.upload-progress-stats {
    display: flex;
    justify-content: space-between;
}

.upload-result-container {
    margin: 3rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

/* modify built-in css */

h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

progress::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 10px;
}

progress::-webkit-progress-value {
    background: linear-gradient(to right, #6a5acd, #836fff);
    border-radius: 10px;
}

