@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --color-background-primary: #5a58f2;
    --color-background-primary-highlighted: #4d4af0;
    --color-border-primary: #3b38ed;
    --color-border-primary-highlighted: #8d8bef;
    --color-background-critical: #e22c2c;
    --color-background-critical-highlighted: #d02828;
    --color-background-positive: #118850;
    --color-background-positive-faded: #d9d9d9;
    --color-background-positive-highlighted: #0f7d49;
    --color-foreground-neutral: #14181f;
    --color-foreground-neutral-faded: #5b667e;
    --color-border-neutral: #b3bbce;
    --color-border-neutral-faded: #e2e3e4;
    --color-on-background-critical: var(--white);
    --white: #fff;
    --black: #000000;

    --shadow-raised: 0 0.2rem 0.3rem 0 rgba(0, 0, 0, 0.1),
    0 0.1rem 0.2rem -0.1rem rgba(0, 0, 0, 0.1);
    --shadow-overlay: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.05),
    0 1.5rem 2.5rem 0 rgba(0, 0, 0, 0.07);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #e9e9e9;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 1rem;
}

.card {
    background: var(--white);
    margin-top: 1rem;
    padding: 1rem;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 1000px
}

.nav-links {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.nav-links li {
    list-style: none;
    margin: 0 12px;
}

.nav-links li button {
    position: relative;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0.5rem 0;
    background: none;
    border: none;
    cursor: pointer;
}

.nav-links li button:before {
    content: '';
    position: absolute;
    bottom: 0;
    height: 3px;
    width: 0;
    background: var(--color-background-primary);
    border-radius: 12px;
    transition: all 0.4s ease;
    left: 50%;
    transform: translateX(-50%);
}

.nav-links li button:hover:before, .nav-links li button.active:before {
    width: 100%;
}

.button {
    display: flex;
    gap: 0.7rem;
    padding: 0.6rem 1.3rem;
    background-color: var(--color-background-primary);
    color: var(--white);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: var(--color-background-primary-highlighted);
}

.button--outline {
    display: flex;
    gap: 0.7rem;
    padding: 0.6rem 1.3rem;
    color: var(--color-border-primary);
    background-color: transparent;
    border: 0.2rem solid var(--color-border-primary);
    border-radius: 0.5rem;
    cursor: pointer;
    transition: color 0.3s ease, border-color 0.3s ease;
}

.button--outline:hover {
    color: var(--color-border-primary-highlighted);
    border-color: var(--color-border-primary-highlighted);
}

.drop-area {
    height: 12rem;
    border: 0.2rem dashed;
    border-radius: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--color-foreground-neutral-faded);
    flex-direction: column;
    gap: 0.5rem;
}

.selected-list {
    list-style-type: none;
    padding: 0;
}

.selected-list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 0.1rem solid #ccc;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.8rem;
}

.remove-button {
    background-color: var(--color-background-critical);
    color: var(--color-on-background-critical);
    border: none;
    border-radius: 50%;
    padding: 0.5rem;
    cursor: pointer;
    width: 2.5rem;
    height: 2.5rem;
    line-height: 1;
}

.download-list {
    list-style-type: none;
    /*padding: 0;*/
    /*border-top: 0.1rem solid var(--color-border-neutral);*/
    /*margin: 1rem;*/
    /*font-size: 1.6rem;*/
}

.download-list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.1rem solid var(--color-border-neutral);
    padding: 1rem;
}

.download-list-item-info {
    display: flex;
    text-align: left;
    flex-direction: column;
    gap: 0rem;
}

.download-list-item-info-data {
    color: var(--color-foreground-neutral-faded);
    /*font-size: 1.4rem;*/
}

.download-list-item-link {
    stroke: var(--color-background-primary);
    border: none;
    cursor: pointer;
    background-color: transparent;
}


.progress-bar {
    width: 0%;
    height: 20px;
    background-color: blue;
    color: white;
    text-align: center;
}

/* Utils */

.spinner {
    transform: translateY(-50%);
    border: 0.3rem solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    border-top: 0.3rem solid white;
    width: 1.5rem;
    height: 1.5rem;
    animation: spin 1s linear infinite;
    display: inline-block;
}

.file-list__title {
    margin: 5rem 1rem 0;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}